.progress
    margin-bottom 0

.ordenar
    float right
    margin-top -1px
    height 10px

    .radio-inline
        padding 0
        margin 0
        float left

        .fa-sort-asc
            padding-top 14px


#tituloAsc.tituloAsc,
#tituloDesc.tituloDesc,
#clienteAsc.clienteAsc,
#clienteDesc.clienteDesc,
#dniAsc.dniAsc,
#dniDesc.dniDesc,
#rucAsc.rucAsc,
#rucDesc.rucDesc,
#emailAsc.emailAsc,
#emailDesc.emailDesc,
#areaAsc.areaAsc,
#areaDesc.areaDesc,
#funcionarioAsc.funcionarioAsc,
#funcionarioDesc.funcionarioDesc,
#otroAsc.otroAsc,
#otroDesc.otroDesc
    color #FF0000

.checkbox-list
    padding-top 7px


.version-file
    padding 0
    margin 0

    li
        border-bottom 1px #d8d8d8 solid
        padding 20px
        list-style none
        margin 0
        position relative

        .datos

            .num
                font-weight bold

        .fecha-usuario
            font-size 12px

            .usuario
                font-weight bold

            .usuario:before
                content " - "

        .download
            position absolute
            right 0
            top 36px

    &:last-child
        border-bottom none


.form .form-section,
.portlet-form .form-section
    margin 10px 0 20px 0
    font-weight bold

label.control-label
    font-weight bold

    &:after
        content ": "

.radio-list>label.radio-inline:first-child
    padding-left 20px !important


.input-daterange
    width inherit !important

.input-group-addon
    padding 6px 12px !important
    font-size 14px !important
    font-weight 400 !important
    line-height 1 !important
    color #555 !important
    text-align center !important
    background-color #eee !important
    border 1px solid #ccc !important
    border-radius 4px !important

.panel label
    margin 0 20px 20px 0